@model List<G4_CasoEstudio2.App.Models.Evento>

<h2>Eventos Públicos</h2>

<table class="table table-bordered table-striped text-center">
    <thead class="table-light">
        <tr>
            <th class="text-center">Título</th>
            <th class="text-center">Fecha</th>
            <th class="text-center">Hora</th>
            <th class="text-center">Ubicación</th>
            <th class="text-center">Categoría</th>
            <th class="text-center">Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var evento in Model)
        {
            <tr>
                <td>@evento.Titulo</td>
                <td>@evento.Fecha.ToShortDateString()</td>
                <td>@evento.Hora</td>
                <td>@evento.Ubicacion</td>
                <td>@evento.Categoria?.Nombre</td>
                <td>
                    <a asp-controller="EventosPublicos" asp-action="Detalle" asp-route-id="@evento.Id" class="btn btn-sm btn-outline-primary">
                        Ver detalle
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

